.header {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0px 5%;
    background-color: #2F38B0;
    height: 90px;
    box-shadow: 0px 5px 5px 0px rgb(180, 180, 180);
    .logo {
        line-height: 0;
        justify-self: start;
        img {
            width: auto;
            height: 85px;
        }
    }
}

.nav-desktop {   
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li:last-child {
            a{
                padding: 15px 15px;
                color: #222B7F;
                background-color: #5AF8BD;
                border-radius: 15px;
            }
        }
        li {  
            padding: 10px 18px;          
            a {
                padding: 5px 15px;
                color: #222B7F;
                background-color: azure;
                border-radius: 15px;
                &:hover {
                    color: #5AF8BD;
                }
            }
        }    
    }
}